<div class="container">
<ng-container *ngIf="currentConfiguration">
<!--<div class="settings-form"> -->
  <div class="row">
    <div class="col-md-6 group">
      <h2>Ethereum Configuration</h2>
        <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon [icon]="['fab', 'ethereum']" color="primary"></fa-icon></mat-icon>
            <mat-form-field >
                <input matInput type="number" placeholder="Ethereum nodes" [(ngModel)]="currentConfiguration.numberOfEthereumNodes">
            </mat-form-field>
          </div>
          <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon icon="child" color="primary"></fa-icon></mat-icon> 
            <mat-form-field >
              <input matInput type="number" placeholder="Number of neighbours" [(ngModel)]="currentConfiguration.numberOfNeighbours">
            </mat-form-field>
          </div>
          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="clock" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Rate of updating neighbours" [(ngModel)]="currentConfiguration.neighboursUpdateInterval">
              </mat-form-field>
            </div>

          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="hourglass-end" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Gas Limit per Block" [(ngModel)]="currentConfiguration.blockGasLimit">
              </mat-form-field>
          </div>

          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="sort-numeric-down" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Deposit-Plasma Block Interval" [(ngModel)]="currentConfiguration.plasmaBlockInterval">
              </mat-form-field>
          </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 group">
        <h2></h2>
        <mat-slide-toggle [color]="primary" [checked]="currentConfiguration.enableExternalTransactions" [(ngModel)]="currentConfiguration.enableExternalTransactions">
            Enable generation of user transactions in ethereum.
        </mat-slide-toggle>

        <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon icon="hourglass-end" color="primary"></fa-icon></mat-icon> 
            <mat-form-field >
              <input matInput type="number" placeholder="Gas Limit of external transactions" [(ngModel)]="currentConfiguration.externalGasLimit">
            </mat-form-field>
          </div>
          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="money-bill" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Gas Price of external transactions" [(ngModel)]="currentConfiguration.externalGasPrice">
              </mat-form-field>
            </div>
        
          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="clock" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Transaction Generation rate of external transactions" [(ngModel)]="currentConfiguration.externalTransactionGenerationRate">
              </mat-form-field>
            </div>
          <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon icon="child" color="primary"></fa-icon></mat-icon> 
            <mat-form-field >
              <input matInput type="number" placeholder="Number of External Accounts" [(ngModel)]="currentConfiguration.numberOfEthereumExternalAccounts">
            </mat-form-field>
          </div> 
          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="coins" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Tokens per External Accounts" [(ngModel)]="currentConfiguration.amountPerEthereumExternalAccount">
              </mat-form-field>
            </div> 
      </div>
  </div>

  <div class="row">
      <div class="col-md-6 group">
        <h2>Plasma Configuration</h2>
        <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon icon="bolt" color="primary"></fa-icon></mat-icon> 
            <mat-form-field >
              <input matInput type="number" placeholder="Plasma clients" [(ngModel)]="currentConfiguration.numberOfPlasmaClients">
            </mat-form-field>
        </div>
        <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon icon="coins" color="primary"></fa-icon></mat-icon> 
            <mat-form-field >
              <input matInput type="number" placeholder="Tokens per Client" [(ngModel)]="currentConfiguration.tokensPerClient">
            </mat-form-field>
          </div>
        
          <div class="icon-form-field">
              <mat-icon color="primary"><fa-icon icon="exchange-alt" color="primary"></fa-icon></mat-icon> 
              <mat-form-field >
                <input matInput type="number" placeholder="Transactions per Plasma block" [(ngModel)]="currentConfiguration.transactionsPerPlasmaBlock">
              </mat-form-field>
            </div>
          <div class="icon-form-field">
            <mat-icon color="primary"><fa-icon icon="child" color="primary"></fa-icon></mat-icon> 
            <mat-form-field >
              <input matInput type="number" placeholder="Plasma Nested Chains" [(ngModel)]="currentConfiguration.plasmaChildren">
            </mat-form-field>
          </div> 
      </div>
  </div>
  <div>
      <div class="col-md-6 group">
          <h2 style="color:white"> H</h2>
      <div class="icon-form-field">
          <mat-icon color="primary"><fa-icon icon="hourglass-end" color="primary"></fa-icon></mat-icon> 
          <mat-form-field >
            <input matInput type="number" placeholder="Gas Limit per Transaction" [(ngModel)]="currentConfiguration.transactionGas">
          </mat-form-field>
        </div>
      <div class="icon-form-field">
        <mat-icon color="primary"><fa-icon icon="clock" color="primary"></fa-icon></mat-icon> 
        <mat-form-field >
          <input matInput type="number" placeholder="Transaction Generation Rate (in seconds)" [(ngModel)]="currentConfiguration.transactionGenerationRate">
        </mat-form-field>
    </div>

    <div class="icon-form-field">
      <mat-icon color="primary"><fa-icon icon="sort-numeric-up" color="primary"></fa-icon></mat-icon> 
      <mat-form-field >
        <input matInput type="number" placeholder="Number of transaction generation intervals" [(ngModel)]="currentConfiguration.numberOfTransactionGenerationIntervals">
      </mat-form-field>
  </div>
  </div>
  </div>

</ng-container>
</div>
<div class="settings-buttons">
    <button mat-flat-button class="settings-button" color="primary" (click)="save()">Save</button>
    <button mat-flat-button class="settings-button" color="primary">Cancel</button>
  </div>