
<mat-toolbar color="primary">
    <span fxFlex="85%">Plasma Simulator</span>
    <div fxFlex="15%">
      <button mat-icon-button matTooltip="Home" (click)="home()"><mat-icon >home</mat-icon></button>    
      <button mat-icon-button matTooltip="Configuration" (click)="settings()"><mat-icon >settings</mat-icon></button>
      <button mat-icon-button matTooltip="You are {{connected? 'connected' : 'disconnected'}}">
      <ng-container *ngIf="connected; else elseTemplate">
          <mat-icon >check_circle</mat-icon>
      </ng-container>
      <ng-template #elseTemplate>
          <mat-icon >highlight_off</mat-icon>
      </ng-template>
      </button>
    </div>
</mat-toolbar>

<ng-container *ngIf="!showSettings">
  <div class="grid-grand-parent">
    <div class="grid-parent">
      <div class="grid-child-1">
        <div>
          <mat-card>
            <mat-card-header>
              <mat-card-title> Ethereum</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item># Blocks: {{ethBlocksSize}} </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title> Deposit Transactions</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list class="list-tx">
                  <mat-list-item *ngFor="let tx of ethDepositTransactions">
                      <mat-icon color="primary"><fa-icon icon="exchange-alt" color="primary"></fa-icon></mat-icon>
                    {{tx.timestamp | date: 'yyyy-MM-dd hh:mm:ss:sss'}}: {{tx.data.method}}
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        <div>
          <mat-card>
            <mat-card-header>
              <mat-card-title> Block Transactions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list class="list-tx">
                <mat-list-item *ngFor="let tx of ethBlockTransactions">
                  {{tx.timestamp | date: 'yyyy-MM-dd hh:mm:ss:sss'}}: {{tx.data.method}}
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="grid-child-2">
        <div class="box box1">
          <mat-card class="plasma-main">
            <mat-card-header>
              <mat-card-title> Plasma Main</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item># Blocks: {{plasmaMainChainBlocks}} </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item># Clients: {{currentConfiguration? currentConfiguration.numberOfPlasmaClients : ''}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item># Deposit Blocks: </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item># Children Root Transactions: </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item># Total Sum of UTXOs: </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item># Total Sum of Transactions: </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-container *ngFor="let key of objectKeys(plasmaChildrenChainsBlocksMap)">
          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Plasma Child {{plasmaChildrenChainsBlocksMap[key]}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-list-item># Blocks: {{plasmaChildrenChainsBlocksMap[key].blocks.length}} </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item># Clients: {{currentConfiguration? currentConfiguration.numberOfPlasmaClients : ''}}</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item># Deposit Blocks: </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item># Parent Blocks: </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item># Total Sum of UTXOs: </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item># Total Sum of Transactions: </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</ng-container>


<mat-card class="card">
  <mat-card-content class="content">
    <app-settings *ngIf="showSettings"></app-settings>
    <ng-container *ngIf="!showSettings">
        <div class="sim-buttons">
            <button mat-flat-button class="sim-button" color="primary" (click)="startSimulation()">Start Simulation</button>
            <button mat-flat-button class="sim-button" color="primary" (click)="stopSimulation()">Stop Simulation</button>
            <button mat-flat-button class="sim-button" color="primary" (click)="reset()">Reset</button>
          </div>
    </ng-container>
  </mat-card-content>
</mat-card>